{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
assetssecurityledgers.com - transactions
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="{% static 'deposite/css/table_style.css' %}" />
{% endblock %}

{% block page %}
My-transactions
{% endblock page%}

{% block content %}
<div class="container-fluid mt-3">
    <table id="example" class="display nowrap" style="background: white;">
        <thead>
            <tr>
                <th>S/N</th>
                <th>User plan</th>
                <th>cryptocurrency</th>
                <th>Address</th>
                <th>Amount in cryptocurrency</th>
                <th>Transaction mode</th>
                <th>Date created</th>
                
            </tr>
        </thead>
        <tbody>
            {% if transaction_found == "yes" %} 
            {% for transact in my_transaction %}
            <tr>
                <td class="text-dark ">{{ forloop.counter }}</td>
                <td class="text-dark ">{{transact.deposite_transact.plan}}</td>
                <td class="text-dark ">{{transact.crypto}}</td>
                <td class="text-dark ">{{transact.crypto_address}}</td>
                <td class="text-dark ">{{transact.ammount_in_crypto}}</td>
                <td class="text-dark ">
                    {% if transact.deposite_transact.transaction_mode == "pending" %}
                        <span class="rounded p-2 bg-warning">pending</span>
                    {% else %}
                        <span class="rounded p-2 bg-success">approved</span>
                    {% endif %}
                </td>
                <td class="text-dark ">{{transact.date_created}}</td>
            </tr>
            {% endfor %}
        {% elif transaction_found == "no" %}
            <tr>
                <td  class=" p-4" colspan="9">No data available in table</td>
                <td class="text-dark "></td>
                <td class="text-dark "></td>
                <td class="text-dark "></td>
                <td class="text-dark "></td>
                <td class="text-dark "></td>
                <td class="text-dark "></td>
            </tr>
 
        {% endif %}
            
        </tbody>
    </table>
</div>


{% endblock content%}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
    $('#example').DataTable({
        scrollY: 200,
        scrollX: true,
    });
});
</script>
{% endblock %}











